<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetalLiqViajes_Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetalLiqViajes_Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MetalLiqViajes_Forms.Properties.Settings>
            <setting name="MetalLiqViajes_Forms_EventsSatrac_getEvents" serializeAs="String">
                <value>https://webcloud.satrack.com/WebServiceEventos/getEvents.asmx</value>
            </setting>
            <setting name="MetalLiqViajes_Forms_com_terpel_movilidad_Integrator"
                serializeAs="String">
                <value>https://movilidad.terpel.com/Terpel.ConsultaFlotas/Integrator.asmx</value>
            </setting>
        </MetalLiqViajes_Forms.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MetalLiqViajes_Forms.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>jgmaya</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>2277</value>
            </setting>
            <setting name="CantidadMarcadores" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DiasHistorico" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PathFacturaTerpel" serializeAs="String">
                <value>C:\Metal\Terpel</value>
            </setting>
            <setting name="TipoTerpel" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="NitTerpel" serializeAs="String">
                <value>830095213</value>
            </setting>
        </MetalLiqViajes_Forms.Properties.Settings>
    </userSettings>
</configuration>